.box-login{
    background-color: #ffffff;
    padding: 20px 40px;
    width: 480px;
    box-shadow: 5px 10px 10px #5c88a5;
    border-radius: 2px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #202020 url(../imagens/background.jpg) no-repeat top center fixed;
  background-size: cover;
}

#imgNav{
  margin-top: -8px;
  text-align: center;
}